:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-300: hsl(0, 0%, 70%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}
body{
  background: var(--Grey-900);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.profile {
  background: var(--Grey-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 93%;
  padding: 10px;
}
.profile header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.profile img {
  border-radius: 100%;
  height: 90px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description h2 {
  color: var(--White);
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.description p:nth-child(2) {
  color: var(--Green);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding: 8px 0;
}

.description p:nth-child(3) {
  color: var(--Grey-300);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding: 20px 0 10px;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.profile {
  background: var(--Grey-800);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile header{
  display: flex;
  justify-content: center;
}

.profile img {
  border-radius: 100%;
  height: 90px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description h2 {
  color: var(--White);
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.description p:nth-child(2) {
  color: var(--Green);
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.description p:nth-child(3) {
  color: var(--Grey-300);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.button-section{
  display: flex;
  flex-direction: column;
}
.button-section button{
  height: 48px;
  margin: 10px 0;
  border-radius: 8px;
  background:var(--Grey-700);
  color: var(--White);
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border: 0;
}
